___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)  # Determines which random numbers are retrieved- will be same as those in the lesson

In [3]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())  # index becomes the row labels, columns becomes the column labels

In [8]:
df  # DataFrames are essentially a collection of Series that share indexes (W,X,Y,Z are Series that share the A,B,C,D,E indexes)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [10]:
df['W']  # Bracket notation

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [14]:
type(df['W'])

pandas.core.series.Series

In [15]:
# Can't get rows
df['A']

KeyError: 'A'

In [16]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [17]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

**DataFrames have lots of methods. Column names could overwrite these when using SQL Syntax**

DataFrame Columns are just Series

In [18]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [19]:
df['new'] = df['W'] + df['Y']

In [22]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

You are just assigning `df['new']` to a new series that shares the same indexes

In [23]:
type(df['W'] + df['Y'])

pandas.core.series.Series

** Removing Columns**

In this case, to remove the 'new' column the axis must be specified. Pandas axes
are similar to that as numpy

axis 0: rows or index/labels

axis 1: columns

shape: (0, 1)

shape: (row, columns)

In [24]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [26]:
df.drop('new',axis=1,inplace=True)

In [27]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [28]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [29]:
df.drop('E')  # axis is zero by default

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

loc for labels, iloc for index

In [30]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [31]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

Or select based off of position instead of label

In [33]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [34]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

** Selecting subset of rows and columns **

In [37]:
df.loc['B','Y']  # row B column Y

-0.8480769834036315

In [38]:
df.iloc[1, 2]

-0.8480769834036315

In [39]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [41]:
df.iloc[[0, 1], [0, 2]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [44]:
df.iloc[:2, 2:]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [45]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [46]:
df>0  # Where is the datafram greater than zero?

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [48]:
df[df>0]  # Values where df>0, nulls where it is not

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df[df<0]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B       NaN -0.319318 -0.848077       NaN
C -2.018168       NaN       NaN -0.589001
D       NaN -0.758872 -0.933237       NaN
E       NaN       NaN       NaN       NaN

Normally you don't do a conditional on the whole data frame, just a specific column or index

In [52]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [54]:
df['W']>0  # this series can be used to filter

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [56]:
df[df['W']>0]  # only return the rows where this is true- notice how row C is missing

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
df[df['W']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [62]:
# Grab all the rows in the dataframe where Z is less than zero
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

Now you can take the result of the condiational and pull data from it

In [63]:
df[df['W']>0]['Y']  # Return the data frame where W is greater than zero, and pull the Y column

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [65]:
df[df['W']>0][['Y','X']]  # Now pull both the X and Y columns

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis (binary operators):

In [71]:
df[(df['W']>0) & (df['Y'] > 1)]  # DataFrame implements the __and__ method to do this

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [72]:
df[(df['W']>0) | (df['Y'] > 1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [73]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [77]:
# Reset to default 0,1...n index
df.reset_index()  # doesn't occur inplace unless inplace=True

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [78]:
newind = 'CA NY WY OR CO'.split()

In [79]:
df['States'] = newind  # dimensions match

In [80]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [82]:
df.set_index('States')  # set the index to be one of the columns in the dataframe

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [83]:
df.set_index('W')

                  X         Y         Z States
W
 2.706850  0.628133  0.907969  0.503826     CA
 0.651118 -0.319318 -0.848077  0.605965     NY
-2.018168  0.740122  0.528813 -0.589001     WY
 0.188695 -0.758872 -0.933237  0.955057     OR
 0.190794  1.978757  2.605967  0.683509     CO

In [84]:
df  # doesn't occur in place

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [85]:
df.set_index('States',inplace=True)

In [86]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [89]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))  # [('G1', 1), ('G1', 2), ('G1', 3)...]
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [91]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

Looking above, here are the indices assigned to each label:

Outer: G1: 1, G2: 2

Inner: 1: 0, 2: 1, 3: 2

In [92]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [95]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [96]:
type(df.loc['G1'])

pandas.core.frame.DataFrame

In [98]:
df.loc['G1'].loc[1]  # call from outside and continue calling deeper

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [100]:
df.loc['G1']['A']

1    0.302665
2   -1.706086
3   -0.134841
Name: A, dtype: float64

Indexes can have names too. This was kind of shown above and wasn't too explained. Look:

In [101]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

See how the columns for the indexes (G1, G2 and 1, 2, 3) don't have a name, or in other words, anything in the top next to A and B?

In [102]:
df.reset_index()

  level_0  level_1         A         B
0      G1        1  0.302665  1.693723
1      G1        2 -1.706086 -1.159119
2      G1        3 -0.134841  0.390528
3      G2        1  0.166905  0.184502
4      G2        2  0.807706  0.072960
5      G2        3  0.638787  0.329646

When you call reset_index, they are assigned default names based on their level so they can be added into the
data frame as a column. We can however actually manualy assign their names. Check it out:

In [104]:
df.index.names  # No names currently given

FrozenList([None, None])

In [105]:
df.index.names = ['Group','Num']  # Now assign the names

In [109]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [113]:
df.xs('G1')  # xs stands for Cross Section, useful method for grabbing data with nested indexes

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [119]:
# For instance, grab all values where Num=1 (indexing from the inside out?)
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

In [120]:
# Or grab all values that are under G1 and 1
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [121]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

# Great Job!